@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  input {
    width: 100%;
    outline: none;
    height: auto;
  }

  body {
    font-family: var(--font-overpass);
    @apply bg-gray-ligth text-gray-regular
  }

  .form-search {
    @apply flex justify-between items-center border-solid border-red-300 transition-colors border-[1px] rounded-md overflow-hidden p-1;
  }

  .form-search.active {
    @apply hover:duration-500 border-red-300;
  }

  .icon-svg-animated {
    @apply fill-purple-strong transition-colors hover:duration-200 hover:fill-purple-ligth w-7 cursor-pointer
  }

}
